.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  .authCard {
    width: 80vw;
    box-shadow: 2px 2px 20px rgb(204, 204, 204);
    border-radius: 12px;

    .authForm {
      width: 80%;
      margin: auto;
      padding: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .authError {
        margin: 0.4rem;
        color: rgb(255, 97, 97);
        font-weight: bold;
        letter-spacing: 0.1rem;
      }
    }
  }
  .authMsg {
    cursor: pointer;
  }
}
