@media screen and (min-width: 500px) {
  main.prof-edit {
    div.heading {
      text-align: center;
      margin: 6vh auto 3vh auto;
      width: 50%;
      font-size: 3vh;
      color: var(--theme-4-100);
      border-bottom: 0.2vh solid var(--theme-4-100);
      font-weight: bold;
    }

    .editProfileError {
      text-align: center;
      color: rgb(250, 107, 107);
      font-weight: bold;
      margin-bottom: 1rem;
    }

    div.card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    select.drpdwn {
      cursor: pointer;
      position: relative;
      margin-bottom: 1vh;
      padding: 0 0.2rem;
      width: 40vh;
      height: 6vh;
      outline: 0;
      color: var(--theme-4-100);
      font-size: 2.4vh;
      background-color: var(--theme-1-100);
      border: 0.3vh solid var(--theme-3-100);
      border-radius: 0.75vh;

      option {
        font-size: 2vh;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  main.prof-edit {
    div.heading {
      text-align: center;
      margin: 6vw auto 3vw auto;
      white-space: nowrap;
      width: 90%;
      font-size: 4.5vw;
      color: var(--theme-4-100);
      border-bottom: 0.2vh solid var(--theme-4-100);
      font-weight: bold;
    }

    .editProfileError {
      text-align: center;
      color: rgb(250, 107, 107);
      font-weight: bold;
      margin-bottom: 1rem;
    }

    div.card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    select.drpdwn {
      cursor: pointer;
      position: relative;
      padding: 0 0.2rem;
      margin: 3vw auto;
      width: 60vw;
      height: 6vh;
      outline: 0;
      color: var(--theme-4-100);
      font-size: 2.4vh;
      background-color: var(--theme-1-100);
      border: 0.3vh solid var(--theme-3-100);
      border-radius: 0.75vh;

      option {
        font-size: 2vh;
      }
    }
  }
}
