.profile {
  display: flex;
  align-items: center;
  justify-content: center;

  .profileContainer {
    height: calc(100vh - var(--navbar-pc-height) - 4rem);
    width: 100%;
    box-shadow: 2px 2px 20px rgb(195, 195, 195);
    border-radius: 12px;
    display: flex;
    justify-content: center;

    .profileLeft {
      width: 40%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .profileImg,
      .profileDetails {
        width: 100%;
        text-align: center;
      }

      img {
        height: 17.5vh;
        width: 17.5vh;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 4px 4px 10px rgb(199, 199, 199);
      }

      .profileDetails {
        padding: 2rem 0;

        p {
          margin: 0.5rem;
        }

        .profileUserName {
          font-size: 1.5rem;
        }

        .profileUserEmail,
        .profileUserPhone {
          font-size: 1rem;
          opacity: 0.7;
        }

        .profileUserDesg {
          font-size: 1.2rem;
          font-style: italic;
          margin-top: 2rem;
        }

        .profileUserOrg {
          font-size: 1.2rem;
        }

        .profileUserVaccStatus {
          margin-top: 2rem;
          font-size: 1.2rem;
          font-weight: bold;
          letter-spacing: 2px;
        }

        // .profileUserStatus{

        // }
      }
      .profileBackdrop {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(59, 59, 59, 0.6);
        width: 100vw;
        height: 100vh;
        z-index: 100;
      }
      .profileModel {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 12px;
        z-index: 1000;
        width: 40vh;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: content-box;
        padding: 3vh 1vh;

        .profileModelContent {
          height: 70%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 1vh;
        }
      }
    }

    .profileRight {
      width: 60%;
      padding: 2rem;
      margin: 4rem 0;
      border-left: 2px solid rgba(119, 119, 119, 0.5);

      .profileUserHistoryHeading {
        font-size: 1.8rem;
        opacity: 0.7;
        margin-bottom: 1rem;
      }

      .profileUserHistoryOverflow {
        height: 90%;
        overflow-x: auto;
      }

      .profileUserHistory {
        width: 95%;
        padding: 2rem 1.2rem;
        margin: 0.5rem auto;
        box-shadow: 2px 2px 20px rgb(218, 218, 218);
        border-radius: 12px;
        position: relative;

        span {
          font-size: 1.2rem;

          i {
            margin-right: 2rem;
          }
        }

        time {
          position: absolute;
          bottom: 15%;
          right: 5%;
          opacity: 0.6;
          font-style: italic;
        }
      }

      div.addHistory {
        display: flex;

        input {
          width: 100%;
          outline: none;
          padding: 2vh 1vh;
          box-sizing: border-box;
          outline: 0;
          color: var(--theme-4-100);
          font-size: 2.4vh;
          background-color: var(--theme-1-100);
          border: 0.3vh solid var(--theme-3-100);
          border-radius: 0.75vh;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .profile {
    .profileContainer {
      flex-direction: column;
      height: auto;

      .profileLeft {
        width: 100%;
        padding-bottom: 0;
        .profileDetails {
          padding: 0;
        }
      }

      .profileRight {
        width: 100%;
        border: none;
        margin: 0;
        text-align: center;
        .profileUserHistory {
          padding-bottom: 3rem;
          span {
          }
        }
      }
    }
  }
}
